*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: hsl(0, 0, 98%);
}
h1,h2{
    color: hsl(23, 12%, 34%);
}
h1 span{
    font-weight: 200;
}
p{
    line-height: 1.8;
    color: hsl(229, 6%, 66%);
}
h1{
    margin-bottom: 1rem;
}
main{
    padding: 5rem 1rem;
}
main > article:first-child{
    text-align: center;
    margin-bottom: 2rem;
}
main .cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}
main .cards article{
    background-color: #fff;
    box-shadow: 0 0 16px hsl(180, 62%, 55%, 0.5);
    padding: 1.5rem;
    border-radius: .25rem;
}
main .cards article:first-child{
    border-top: 0.25rem solid hsl(0, 78%, 62%);
}
main .cards article:nth-child(2){
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}
main .cards article:nth-child(3){
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}
main .cards article:nth-child(4){
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}
main .cards article h2{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
main .cards article p {
    margin-bottom: 3rem;
}
main .cards article img{
    display: block;
    margin-left: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:768px){
    main > article{
        max-width: 500px;
        margin:auto ;
    }
    main > article:first-child h1{
        font-size: 2rem;
    }
    main .cards{
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    main .cards article{

        width: 300px;
    }
    main .cards article:nth-child(odd){
        transform: translateY(50%)
    }
}